.container,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
}

input,
button,
.userlist {
  width: 400px;
  padding: 10px;
}

input {
  margin-bottom: 10px;
}

.userlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  margin-top: 40px;
}